html, body {
    padding: 0;
    margin: 0;
    font-family: 'Lexend Peta', sans-serif ;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 0.6px;
    background: blanchedalmond;
    color: green;
}
.container {
    width: 100%;
    height: 130vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.login__inputs h3 {
    font-size: 18px;
    
}

.login__inputs h4 {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 12px;
    color: darkolivegreen;
    font-family: 'Lexend Peta', sans-serif ;
    text-align: center;
    
}


.login__inputs {
    width: 90%;
    max-width: 800px;

}
.login__inputs p{
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 12px;
    color: darkolivegreen;
    font-family: 'Lexend Peta', sans-serif ;
}
.login__inputs p label{

    padding-bottom: 10px;
    font-size: 14px;
    color: green;
    font-family: 'Lexend Peta', sans-serif ;
}
.login__inputs p input {
    height: 40px;
    border: none;
    padding: 0 20px;
    box-sizing: border-box;
    border-radius: 20px;
    color: black;
    font-family: 'Lexend Peta', sans-serif ;
    outline: para sacar el borde de la seleccion 
}
input :focus {
    outline: none;
    box-shadow: 8px 0px 26px -5px rgb(240, 237, 237);
}

.login__inputs p input ::placeholder {
    color: grey;
    font-size: 10px;
}

.login__inputs p button {
    width: 100%;
    height: 45px;
    background: rgb(104, 170, 104);
    color: white;
    border-radius: 25px;
    border: 1px solid bisque;
    font-family: ;
    font-size: 16px;
    letter-spacing: 0.6px;
    font-weight: 600;
    cursor: pointer;
}


.login-img{
    visibility: hidden;
    width: 30%;
}
a {
    text-decoration: none;
    color: bisque;
}

@media screen and ( max-width: 800px) {
    .login-img {
        visibility: visible;
        border-radius: 0 20px 20px 0;
        width: 100%;
        height: 100%;
        background-image: url(./Imagenes/africa.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

    }
    .login__inputs{
        width: 100%;
        height: 100%;
        display: flex;
        margin: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .login__inputs p {
        width: 70%;
        margin: 10px 0;
    }
    .content{
        width: 75%;
        background: bisque;
        height: 100%;
        flex-direction: row;
        border-radius: 20px;
        box-shadow: 0px 0px 26px -5px grey;
    }
    html, body {
        background: bisque;
    }
    .login__inputs p:last-child button {
        width: 100%;
    }
    .login__inputs h3{
        text-align: center;
        justify-content: center;
    }
}